<div class="container__big-card">

  <div class="big-card__image">
    <img
    src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/B9252D7E636001C57A286E647CFA3B4956D0E175270BBE5E909E474FDFAE870E/scale?width=1200&aspectRatio=1.78&format=jpeg"
    alt=""
    height="200px"
    srcset=""
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do
       Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus, risus id vulputate congue, purus ante semper risus,  quis viverra justo felis id mi. Nullam non luctus sem. Aliquam congue, orci vitae porta ultricies, tortor est tempor mauris, a commodo lectus ipsum nec est.
    </a>
  </p>

  </div>
</div>
